<head>
  <link href="../../styles/main.css" rel="stylesheet" />
  <link href="../../styles/login-modal.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>

<div class="modal-container">
  <form class="sign-in-container">
    <div class="title-and-exit">
      <h3>Login</h3>
      <span>&times;</span>
    </div>
    <div class="login">
      <label for="">Usuario:</label>
      <input type="text" name="" id="" placeholder="Informe seu nome de usuário">
      <img src="../../images/user-login.png" alt="" class="image-login">
    </div>
    <div class="login">
        <label for="">Senha:</label>
        <input type="text" name="" id="" placeholder="Informe seu nome de usuário">
        <img src="../../images/user-password.png" alt="" class="image-password">
    </div>
  </form>
</div>
