body {
  margin: 0;
  padding: 0;
}

.background {
  background: url(../img/background.png) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.menu-top {
  background-color: #171717;
  width: 860px;
  height: 140px;
  display: flex;
  margin-top: 170px;
}

.nav-top {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.logo {
  width: 178px;
  height: 178px;
  position: absolute;
  bottom: 15px;
  left: -73px;
}