.modal-container {
  width: 100vw;
  height: 990px;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  display: none;
  transition: all 0.5s;
  -webkit-animation: zoom 0.3s;
  animation: zoom 0.3s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes zoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

.sign-in-container {
  border: 1px solid #171717;
  background: #171717;
  height: 530px;
  width: 600px;
  margin: 0;
  outline: none;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-container h3 {
  font-size: 50px;
  margin: 0;
  color: white;
  font-weight: bold;
}

.title-and-exit {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  height: 70px;
  position: relative;
  align-items: flex-end;
  margin-top: 25px;
}

.title-and-exit span {
  color: white;
  font-size: 100px;
  display: flex;
  position: absolute;
  right: 0px;
  bottom: 15px;
  cursor: pointer;
  height: 85px;
  align-items: center;
}

.login {
  width: 70%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.login label {
  font-size: 24px;
  color: white;
  margin-bottom: 8px;
}

.login input {
  height: 20px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 10px 10px 50px;
  outline: none;
}

.image-login {
  height: 40px;
  width: 40px;
  position: relative;
  left: 5px;
  bottom: 40px;
}

.image-password {
  position: relative;
  height: 30px;
  width: 30px;
  bottom: 35px;
  left: 8px;
}

.forget-and-sigin {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-login  {
  height: 40px;
  width: 100px;
  border: 1px solid #00000063;
  border-radius: 3px;
  background-color: #00000063;
  font-weight: bold;
  color: white;
  cursor: pointer;
  outline: none;
}

.button-login:hover {
  background-color: white;
  color: black;
  transition: all 0.3s;
}

.forget-and-sigin a {
  text-decoration: none;
  color: white;
  align-self: center;
  font-weight: bold;
  font-size: 20px;
}

.signup {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 130px;
}

.login.up {
  margin: 10px;
  margin-top: 5px;
}

.forget-and-sigin.signup {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.forget-and-sigin label {
  color: white;
  margin-bottom: 10px;
  outline: none;
}

.sign-in-container.sign {
  height: 575px;
}

.forget-and-sigin input {
  margin-right: 8px;
}

.forget {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-animation: zoom 0.3s;
  animation: zoom 0.3s;
  margin-top: 15px;
  display: none;
}

.forget label {
  align-self: baseline;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 20px;
}

.forget input {
  height: 20px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 10px 10px 50px;
  outline: none;
  align-self: normal;
}

.forget img {
  left: -185px;
}

.forget div button {
  margin-right: 20px;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}