<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>LuthCraft | Fórum</title>
    <link href="../styles/main.css" rel="stylesheet">
    <link rel="icon" type="imagem/png" href="../images/luthcraft.ico"/>
  </head>
  <body>    
    <div class="background">
      <div class="menu-top">
        <nav class="nav-top">
          <img src="../images/logoluth.png" class="logo">
          <ul class="container-items">
            <li><a href="./main.html">Inicio</a></li>
            <li><a href="./users/">Membros</a></li>
            <li><a href="./medals.html">Medalhas</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <script src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js"></script>
    <script src="../controllers/teste.js"></script>
  </body>
</html>
