<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>LuthCraft | Fórum</title>
    <link href="../styles/main.css" rel="stylesheet" />
    <link href="../styles/login-modal.css" rel="stylesheet" />
    <link rel="icon" type="imagem/png" href="../images/luthcraft.ico" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="background">
      <div class="login-container">
        <button>Cadastrar-se</button>
        <button onclick="modal('login')">Entrar</button>
      </div>
      <div class="modal-container" id="auth-login">
        <form class="sign-in-container">
          <div class="title-and-exit">
            <h3>Login</h3>
            <span onclick="modal('exit')">&times;</span>
          </div>
          <div class="login">
            <label for="">Usuario:</label>
            <input type="text" placeholder="Informe seu nome de usuário">
            <img src="../../images/user-login.png" alt="" class="image-login">
          </div>
          <div class="login">
              <label for="">Senha:</label>
              <input type="password" placeholder="Informe a senha do usuário">
              <img src="../../images/user-password.png" alt="" class="image-password">
          </div>
          <div class="forget-and-sigin">
            <a href="">Esqueceu a senha ?</a>
            <button>Entrar</button>
          </div>
        </form>
      </div>
      <div class="menu-top">
        <nav class="nav-top">
          <img src="../images/logoluth.png" class="logo" />
          <ul class="container-items">
            <li><a href="./main.html">Inicio</a></li>
            <li><a href="./users.html">Membros</a></li>
            <li><a href="./medals.html">Medalhas</a></li>
          </ul>
          <div class="container-social">
            <a
              href="https://twitter.com/LuthNetwork"
              target="_blank"
              title="Acesse nosso Twitter"
            >
              <img src="../images/twitter.png" />
            </a>
            <a
              href="https://www.youtube.com/channel/UCuTyTKA7jXAOJ7zqaDBAdig"
              target="_blank"
              title="Acesse nosso Youtube"
            >
              <img src="../images/youtube.png" />
            </a>
            <a
              href="https://www.facebook.com/luthcraftoficial"
              target="_blank"
              title="Acesse nosso Facebook"
            >
              <img src="../images/facebook.png" />
            </a>
          </div>
        </nav>
      </div>
    </div>
    <script src="../script/main.js"></script>
  </body>
</html>
